body{
  font-size: 100%;
  font-family: arial;
  padding: 0;
  margin: 0;
  text-align: center;
  min-width: 800px;
}

header{
  padding: 10px 0px 10px 0;
}

header h1{
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  background-color: rgb(30, 215, 233);
  color: white;
  margin: auto;
  width: 800px;
  border-radius: 20px;
}

.row {
  font-size: 0px;

  padding-bottom: 0px;
}


main h2{
  font-size: 2.5rem;
  text-align: center;
  color: rgb(13, 179, 195);
}

.game-container{
  width: 350px;
  position: relative;
  /* border: 2px solid rgb(30, 215, 233); */
  margin: auto;
  margin-bottom: 30px;;
}

.box{
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: pink;
  border: 2px solid red;
  vertical-align: middle;
  margin: 3px;
}

#icon {
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: red;
  /* animation-name: iconShow;
  animation-duration: 1s; */
  line-height: 100px;
}

@keyframes iconShow{
  0%{opacity: 0;}
  
  /* 25%{opacity: 0.25;}

  50%{opacity: 0.5;}

  75%{opacity: 0.75;} */

  100%{opacity: 1;}
}
.score h4{
  padding: 5px 10px;
  background: rgb(30, 215, 233);
  border: 2px solid rgb(13, 179, 195);
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 25px;
}
.score h3{
  font-size: 2rem;
  color: rgb(13, 179, 195);
  margin: 5px 25px;
  display: inline-block;
}

.cut-line {
 position: absolute;
 /* top: 160px;
 left: -65px; */
 visibility: hidden;
 /* transform: rotate(0deg);
 width: 480px; */
 height: 10px;
 /* opacity: 0.3; */
 background-color: rgb(13, 179, 195);
 /* animation-name: showCutLine;
 animation-duration: 1s; */
}

/* @keyframes showCutLine{
  0%{opacity: 0;}

  100%(opacity: 1;)
} */